In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline
from matplotlib import rc
rc("font",family= 'Malgun Gothic')

In [3]:
data = pd.read_csv('자료 조회_20230703.csv', encoding='euc-kr')

In [4]:
data

,측정소명,년/월/일,회차,수심(m),수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),클로로필 a(㎎/㎥),TN(㎎/L),...,벤젠(㎎/L),폴리크로리네이티트비페닐(㎎/L),유기인(㎎/L),안티몬 (㎎/L),클로로포름 (㎎/L),디에틸헥실프탈레이트 (㎎/L),1.4-다이옥세인 (㎎/L),투명도(m),유량(㎥/s),포름알데히드(㎎/L)
0,구의,2023/01/02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,노량진,2023/01/02,1회차,NaN,2.0,13.6,1.5,4.5,9.3,5.448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,안양천9,2023/01/02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,중랑천3,2023/01/02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,가양,2023/01/03,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,초이천,2023/04/24,4회차,1.01,19.5,12.3,2.0,5.4,NaN,2.978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.031,NaN
227,구의,2023/04/27,4회차,NaN,14.8,10.5,1.3,3.6,NaN,2.139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.880,NaN
228,노량진,2023/04/27,4회차,NaN,16.4,9.6,2.0,4.5,17.8,3.954,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134.597,NaN
229,안양천9,2023/04/27,4회차,NaN,16.4,8.6,3.9,9.0,NaN,8.556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.240,NaN
230,중랑천3,2023/04/27,4회차,NaN,19.4,10.1,2.2,7.1,NaN,7.422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.355,NaN

In [5]:
data.columns

Index(['측정소명', '년/월/일', '회차', '수심(m)', '수온(℃)', 'DO(㎎/L)', 'BOD(㎎/L)',
       'COD(㎎/L)', '클로로필 a(㎎/㎥)', 'TN(㎎/L)', 'TP(㎎/L)', 'TOC(㎎/L)', '수소이온농도',
       '페놀류(㎎/L)', '전기전도도(μS/㎝)', '총대장균군수(총대장균군수/100ml)', '카드뮴(㎎/L)',
       '시안(㎎/L)', '납(㎎/L)', '6가크롬(㎎/L)', '비소(㎎/L)', '수은(㎎/L)', '구리(㎎/L)',
       '아연(㎎/L)', '크롬(㎎/L)', '니켈(㎎/L)', '바륨(㎎/L)', '셀레늄(㎎/L)', '용존총질소(㎎/L)',
       '암모니아성 질소(㎎/L)', '질산성 질소(㎎/L)', '용존총인(㎎/L)', '인산염인(㎎/L)', 'SS(㎎/L)',
       '헥사클로로벤젠 (㎍/L)', '분원성대장균군수', '불소(㎎/L)', '색도(㎎/L)', '노말헥산추출물질(㎎/L)',
       '용해성망간(㎎/L)', '용해성철(㎎/L)', '음이온계면활성제(㎎/L)', '트리클로로에틸렌 (㎎/L)',
       '테트라클로로에틸렌(㎎/L)', '사염화탄소', '1.2-디클로로에탄(㎎/L)', '디클로로메탄(㎎/L)', '벤젠(㎎/L)',
       '폴리크로리네이티트비페닐(㎎/L)', '유기인(㎎/L)', '안티몬 (㎎/L)', '클로로포름 (㎎/L)',
       '디에틸헥실프탈레이트 (㎎/L)', '1.4-다이옥세인 (㎎/L)', '투명도(m)', '유량(㎥/s)',
       '포름알데히드(㎎/L)'],
      dtype='object')

# unique 값이 1 이하인 칼럼 모두 제거

In [6]:
unique_counts = data.nunique()
columns_to_drop = unique_counts[unique_counts <= 1].index
columns_to_drop

Index(['수은(㎎/L)', '구리(㎎/L)', '아연(㎎/L)', '크롬(㎎/L)', '니켈(㎎/L)', '바륨(㎎/L)',
       '셀레늄(㎎/L)', '헥사클로로벤젠 (㎍/L)', '불소(㎎/L)', '색도(㎎/L)', '노말헥산추출물질(㎎/L)',
       '용해성망간(㎎/L)', '용해성철(㎎/L)', '트리클로로에틸렌 (㎎/L)', '테트라클로로에틸렌(㎎/L)', '사염화탄소',
       '1.2-디클로로에탄(㎎/L)', '디클로로메탄(㎎/L)', '벤젠(㎎/L)', '폴리크로리네이티트비페닐(㎎/L)',
       '유기인(㎎/L)', '클로로포름 (㎎/L)', '디에틸헥실프탈레이트 (㎎/L)', '1.4-다이옥세인 (㎎/L)',
       '투명도(m)', '포름알데히드(㎎/L)'],
      dtype='object')

In [7]:
data = data.drop(columns_to_drop, axis=1)

In [9]:
data.columns

Index(['측정소명', '년/월/일', '회차', '수심(m)', '수온(℃)', 'DO(㎎/L)', 'BOD(㎎/L)',
       'COD(㎎/L)', '클로로필 a(㎎/㎥)', 'TN(㎎/L)', 'TP(㎎/L)', 'TOC(㎎/L)', '수소이온농도',
       '페놀류(㎎/L)', '전기전도도(μS/㎝)', '총대장균군수(총대장균군수/100ml)', '카드뮴(㎎/L)',
       '시안(㎎/L)', '납(㎎/L)', '6가크롬(㎎/L)', '비소(㎎/L)', '용존총질소(㎎/L)',
       '암모니아성 질소(㎎/L)', '질산성 질소(㎎/L)', '용존총인(㎎/L)', '인산염인(㎎/L)', 'SS(㎎/L)',
       '분원성대장균군수', '음이온계면활성제(㎎/L)', '안티몬 (㎎/L)', '유량(㎥/s)'],
      dtype='object')

In [10]:
for i in data.columns:
    print(data[i].unique())

['구의' '노량진' '안양천9' '중랑천3' '가양' '고덕천' '도림천' '목감천1' '성내천' '성북천' '안양천10'
 '양재천2' '우이천' '정릉천' '중랑천4' '중랑천5' '중랑천6' '청계천1' '청계천2' '청계천3' '탄천6' '홍제천'
 '뚝도' '보광' '암사' '영등포' '잠실' '감이천' '망월천' '양재천1' '초이천' '목감천2' '안양천8']
['2023/01/02' '2023/01/03' '2023/01/05' '2023/01/10' '2023/01/12'
 '2023/01/16' '2023/01/17' '2023/01/19' '2023/01/25' '2023/01/30'
 '2023/02/01' '2023/02/02' '2023/02/06' '2023/02/14' '2023/02/15'
 '2023/02/16' '2023/02/17' '2023/02/20' '2023/02/21' '2023/02/23'
 '2023/02/27' '2023/03/02' '2023/03/06' '2023/03/07' '2023/03/09'
 '2023/03/14' '2023/03/16' '2023/03/21' '2023/03/22' '2023/03/23'
 '2023/03/24' '2023/03/27' '2023/03/30' '2023/04/04' '2023/04/06'
 '2023/04/12' '2023/04/13' '2023/04/14' '2023/04/17' '2023/04/20'
 '2023/04/21' '2023/04/24' '2023/04/27']
['1회차' '2회차' '3회차' '4회차' '5회차']
[ nan 0.79 1.24 1.25 1.04 1.54 2.09 0.77 1.12 1.21 1.48 2.05 0.8  1.1
 1.03 1.49 1.2  1.5  2.06 1.11 1.47 2.04 1.26 1.22 1.02 1.63 2.12 0.78
 1.01 2.07 1.28 1.34]
[ nan  2.   0.7  4.9  1.3  4.1  5.3  1.6  0.6 10.   4.2  9.6  2.6  1.4
  7.6  2.3  3.6  3.9  2.5  3.4  3.2  4.4  9.9  2.4  5.1  5.   5.5  8.9
  2.8  1.   3.5  1.9  2.9  9.5  2.2  7.9  3.   3.7  4.   4.7  9.  12.1
  8.7  8.4  9.7 13.2  4.8  7.1 11.8  7.7 12.5  3.8  5.6  8.5 11.4  6.5
  6.6  6.4  9.4  4.6  5.9  6.   9.1 12.8  9.3 14.3 15.1  7.4 12.  14.8
 13.6 13.3 13.5 14.1  8.8  8.1  8.3 11.6 14.  10.2 13.1  8.2 17.1 16.5
 15.2 18.5 12.3 12.2 17.7 16.1 17.6 12.9 14.9 17.5 16.6 16.  13.7 14.4
 16.7 15.4  7.2  7.5  7.3 13.9  7.8  7.   6.9 13.  19.1 21.1 17.8 15.9
 16.2 16.4 15.  18.8 18.4 20.1 22.2 18.1 18.  19.5 19.4]
[ nan 13.6 13.4 13.  12.3 11.7 12.8 15.3 14.2 11.6 13.5 11.2 13.7 14.1
 13.1 14.6 11.5 12.6 10.7 12.  10.8 11.4 11.  15.2 13.9 14.4 15.1 12.9
 12.5 12.4 11.1 14.3 10.5 15.4 13.8 13.3 11.9 15.7 10.2 12.7 12.2 10.9
 14.7 10.3 11.8  9.3  9.1 11.3  6.7  8.5  9.4  7.9 13.2 12.1 10.1  8.4
  8.1 14.5  8.2 10.   8.8  9.2  7.7  8.6  7.8  9.6  8.  10.6  9.7 10.4
  9.5  7.1  9.9]
[ nan  1.5  2.1  1.6  0.9  1.7  1.9  1.   1.2  1.4  1.3  0.8  0.7  3.
  3.2  2.3  0.6  2.6  2.2  1.1  2.   1.8  2.5  3.1  4.6  3.3  3.4  3.7
  3.9  2.8  2.7  3.5  4.2  6.7 25.   6.  10.9  4.  13.   2.4  5.5 12.7
  3.8  5.6  2.9  3.6 17.9  5.8  4.8  9.6  7.8 12.9  4.4 11.2]
[ nan  4.5  5.4  3.2  5.9  3.8  2.   8.   5.   2.7  1.5  5.1  5.2  6.8
  4.6  6.5  2.6  4.7  3.3  4.2  3.1  8.9  7.1  4.   4.9  4.3  8.3  4.1
  6.   2.3  6.7  2.5  5.3  6.6  2.2  2.4  5.8  5.6  4.4  5.7  1.9  6.3
  9.1  7.5  9.5 10.1  1.2  7.   4.8 10.6  7.7  6.4  3.4  7.8  3.   7.2
  2.8 10.9 10.4 12.4  9.4 10.5  3.5 11.1 10.   7.4  2.9 12.   3.9 10.8
 12.7  8.4 12.6  6.1  9.7  8.8  3.7  6.2  5.5 10.3 10.7 13.6  9.3  3.6
  9. ]
[ nan  9.3 16.5  5.7  4.4  8.6  3.4  6.7 13.2  1.7  0.7  2.   7.6  3.6
  1.8  3.3  6.1  6.8  0.8  1.1  0.9  1.2  9.6  9.9 13.  11.1  2.5 16.3
 23.3 11.4 35.1 14.4  4.7 25.5  7.2  8.9  2.6 17.2  3.1  4.8  7.7  4.
 15.3 24.   7.  14.3  4.9 31.9 27.5 15.2 13.6 41.8 32.2 33.1 12.4 15.9
  6.2  2.8  3.5 11.8  5.5  4.2  8.7  2.7 14.2 32.6 12.7 31.  15.7 20.5
 12.1 36.5 14.7 26.3 48.  29.5 41.3  5.8 30.8 20.  27.3 33.   3.7  5.2
 11.6  1.9 11.5  4.5 33.4  3.9  4.1  5.4  2.1 15.8 17.9 21.4 15.1 42.5
 27.7 17.8]
[   nan  5.448  4.714  4.448  8.645  3.786  4.897  8.383  7.342  7.105
  6.175 11.014  9.785 14.741  2.872  3.174  4.717  9.278  7.098  4.559
  3.223  5.111  3.177  5.298  2.907  5.514  9.129  9.864  4.394  3.354
  3.11   5.218  5.333  7.662  6.277  4.115  5.368  5.432  5.58   3.448
  4.335  7.631  3.484  4.832  7.287  7.891  6.29   6.021  9.733  8.348
 13.836  2.703  2.935  3.415  9.788  6.923  5.424  5.086  4.076  2.815
  5.122  2.925  5.214  3.146  4.439  9.683  4.32   3.017  5.488 10.329
  9.729  8.169  5.385  4.617  4.662 10.682  4.549  9.163 10.174  2.784
  5.634 10.614  9.711  5.932  5.376  3.249  4.636  9.079  3.283  4.558
  8.701 11.482  1.106  2.711  8.769  9.944 16.144  2.97   3.159  3.056
  9.868  6.759  5.123  2.698  4.544 14.847  3.911  2.84   5.439  9.836
  8.543 10.255  9.86   3.607  4.484 14.626  4.149  3.496  4.27   2.581
  4.759  2.722  2.826  5.46   7.79   8.491 11.035 10.182  4.764  4.267
  6.397  4.147 15.635  3.241  2.668  5.434  9.741  9.678  7.786  9.184
  4.522  2.409  5.326  9.044  9.297  3.103  2.339 17.538  3.538  2.41
  4.498  5.507  3.845  4.495  6.003  2.972  2.417 12.794  4.642  2.527
  2.854  2.424  7.214  4.031  2.404  3.018  5.831  1.99  11.854  3.331
  3.564  2.083  6.122  7.215  6.381 12.818  1.942  2.101  3.405  7.297
  5.674  3.291  2.286  4.266  7.972  4.567  8.57   8.928  3.565  2.379
  2.273 14.441  3.384  2.019  3.838  7.527  7.524  8.175  5.756  3.422
  2.499  2.162 15.181  2.978  2.139  3.954  8.556  7.422]
[  nan 0.042 0.117 0.05  0.094 0.088 0.014 0.071 0.075 0.008 0.025 0.083
 0.107 0.126 0.001 0.005 0.155 0.074 0.015 0.044 0.012 0.027 0.011 0.031
 0.017 0.038 0.111 0.195 0.062 0.193 0.148 0.049 0.166 0.087 0.03  0.047
 0.052 0.039 0.078 0.113 0.103 0.046 0.07  0.066 0.12  0.082 0.036 0.076
 0.023 0.035 0.037 0.018 0.034 0.019 0.08  0.032 0.056 0.106 0.022 0.048
 0.219 0.109 0.045 0.043 0.214 0.028 0.123 0.02  0.129 0.234 0.054 0.055
 0.053 0.168 0.016 0.118 0.029 0.189 0.142 0.122 0.006 0.01  0.099 0.289
 0.956 0.158 0.09  0.39  0.14  0.42  0.248 0.182 0.151 0.058 0.116 0.073
 0.11  0.228 0.304 0.156 0.096 0.147 0.246 0.024 0.06  0.124 0.297 0.161
 0.332 0.202 0.194 0.2   0.204 0.104 0.153 0.377 0.084 0.033 0.138 0.145
 0.185 0.164 0.18  0.13  0.173 0.061 0.065 0.097 0.165 0.235 0.069 0.026
 0.132 0.144]
[nan 3.2 1.5 1.6 1.7 1.1 4.7 2.7 0.9 3.1 4.  1.3 2.3 3.8 1.2 2.5 2.  1.9
 2.6 6.3 4.3 2.9 1.8 3.3 3.  4.4 2.1 2.4 4.1 1.  3.5 3.4 4.6 3.7 2.8 6.9
 5.4 5.7 7.  4.9 3.9 2.2 4.8 7.3 0.8 4.2 6.4 6.6 7.2 7.1 5.3 3.6 1.4 8.2
 5.1 7.8 5.9 7.6 4.5 8.  5.8 8.1]
[nan 8.  7.4 7.7 7.8 7.5 7.9 7.6 7.2 8.2 8.1 8.3 7.3 8.4 6.2 7.  8.7 8.9
 8.5 6.3 6.9 6.8 6.4 9.1 8.8 8.6 9.4 9.  9.5 9.2]
[nan '정량한계미만' '0.000']
[  nan  328. 1153.  406.  566.  306.  471.  625.  495.  506.  585.  481.
  486.  539.  254.  279.  299.  550.  609.  378.  288.  336.  270.  356.
  222.  314.  586.  439.  578.  790.  405. 1901.  620.  580.  333.  303.
  352.  541.  398.  591.  300.  466.  602.  491.  357.  575.  467.  473.
  537.  229.  261.  260.  556.  627.  295.  349.  332.  237.  322.  249.
  338.  501.  745. 1481.  218.  280.  581.  416.  649.  354.  781.  755.
  577. 1156.  587.  650.  206.  281.  599.  421.  313.  528.  372.  294.
  452.  628.  560.  360.  493.  510.  239.  272.  266.  592.  583.  530.
  806. 1209.  211.  269.  840.  775.  636.  519.  610.  611.  605. 1622.
  296.  309.  236.  318.  251.  523.  692.  645.  449.  335.  502.  752.
 1453.  219.  623.  440.  571.  700.  355.  212.  617.  436.  384. 1337.
  341.  217.  250.  524.  490.  425.  285.  546.  450.  555. 1151.  505.
  310.  235.  612.  286.  264.  458.  637.  278.  311.  221.  423.  438.
  517.  238.  263.  514.  513.  282.  202.  582.  657.  606.  419.  408.
  568. 1210.  192.  594.  292.  525.  362. 1405.  199.  245.  590.  420.]
[    nan 7.6e+02 9.0e+04 4.4e+04 3.5e+04 1.1e+04 9.7e+02 7.0e+03 1.3e+04
 7.0e+02 1.5e+03 1.7e+03 1.8e+04 0.0e+00 1.0e+03 1.2e+04 2.6e+04 2.3e+03
 2.8e+03 3.2e+03 3.0e+02 3.0e+01 1.2e+03 2.5e+04 1.7e+05 2.4e+03 3.4e+04
 4.7e+04 8.2e+04 5.1e+04 3.2e+04 1.4e+04 3.1e+04 1.6e+04 4.0e+01 2.0e+03
 8.0e+03 8.5e+03 2.0e+01 3.0e+03 1.4e+03 5.6e+02 7.2e+03 2.8e+04 1.1e+03
 2.1e+03 2.0e+02 5.6e+03 1.6e+03 6.5e+02 2.3e+04 1.5e+04 1.9e+04 4.0e+03
 5.0e+01 1.7e+04 3.0e+00 6.0e+01 1.0e+05 4.2e+01 4.2e+03 2.6e+01 2.6e+03
 5.0e+04 5.5e+04 6.0e+02 2.0e+04 9.4e+02 3.1e+03 5.8e+03 4.1e+02 2.5e+02
 4.8e+05 3.0e+04 1.1e+05 3.7e+05 8.1e+03 2.4e+04 5.1e+05 1.2e+05 4.0e+04
 5.7e+02 4.1e+03 6.4e+02 7.0e+04 5.7e+04 4.8e+01 8.3e+04 1.9e+05 3.3e+03
 7.4e+03 4.2e+02 2.3e+02]
[nan '정량한계미만' '0.00000']
[nan '정량한계미만' '0.00']
[nan '정량한계미만' '0.00000']
[nan '정량한계미만' '0.000']
[nan '정량한계미만' '0.00000']
[   nan  5.32   4.693  4.237  8.583  3.463  4.808  7.571  7.101  6.804
  6.173 10.444  9.528 14.29   2.764  2.981  4.45   8.478  6.718  4.256
  2.965  4.953  2.892  4.952  2.865  5.418  8.88   9.699  4.248  4.065
  5.112  5.416  5.003  3.192  4.053  7.403  3.186  4.496  6.782  7.795
  6.261  5.78   9.599  7.676 13.505  2.494  2.863  3.083  8.865  6.8
  5.242  4.947  3.969  2.753  4.969  2.815  5.057  2.942  9.987  9.462
  5.068  2.702  5.415 10.323  9.399  5.648  4.755  3.021  3.717  7.88
  2.733  3.974  8.045 10.109  0.777  2.36   8.55   8.585 15.583  2.706
  2.843  2.641  8.908  5.916  4.807  2.744  5.253  9.58   9.02   3.31
  4.055  2.481  4.69   2.627  2.787  5.086 11.     9.57   4.456  4.185
  2.521  5.09   9.564  9.033  4.455  2.331  5.15   8.876  8.994  4.483
  2.298  4.142  4.085  5.85   2.386  2.636  2.314  7.071  3.938  2.241
  3.009  5.435  1.971 11.254  3.229  3.394  2.053  5.897  6.638  5.846
 12.556  1.921  1.983  3.383  7.073  5.605  3.262  2.2    4.028  8.095
  8.781  3.299  1.902  3.376  7.422  7.398  3.323  2.067  3.798  8.388
  7.317]
[  nan 0.678 0.542 0.162 0.947 0.525 0.125 1.09  1.14  0.297 0.    1.59
 0.846 4.62  0.044 0.031 1.77  2.96  0.601 0.694 0.097 0.617 0.066 0.689
 0.076 0.84  1.752 0.724 0.709 0.866 0.843 0.087 0.44  0.922 0.554 0.503
 1.458 2.354 0.75  0.017 2.557 0.878 5.299 0.06  0.059 0.408 4.338 0.714
 0.985 0.942 0.569 0.037 0.895 0.056 1.105 0.091 1.033 3.3   0.509 0.822
 0.08  1.061 4.065 1.24  1.053 0.04  0.113 0.988 0.027 0.081 2.27  6.26
 0.222 0.064 1.63  1.31  6.77  0.038 0.024 0.052 4.83  1.043 0.116 1.318
 2.872 1.248 0.372 0.77  0.065 1.27  0.104 0.078 0.975 3.303 0.584 1.096
 0.118 0.984 2.152 1.191 0.702 0.051 0.986 1.588 0.717 0.907 0.137 1.262
 0.566 0.345 0.12  0.099 0.773 0.648 0.276 0.186 0.595 0.033 8.38  0.275
 0.299 0.057 0.892 0.859 4.05  0.021 0.015 1.81  1.9   0.088 0.263 0.045
 0.599 0.924 1.178 0.348 0.39  1.618 1.133 0.187 0.028 0.437 1.333 0.126]
[  nan 2.082 3.402 3.509 6.377 2.583 4.131 5.299 4.941 5.939 5.439 8.05
 7.732 8.292 2.482 2.628 2.454 4.365 5.428 3.152 2.595 3.429 2.498 3.667
 2.331 4.254 6.15  7.824 2.968 2.905 3.718 4.38  3.48  2.859 3.266 5.688
 2.49  3.639 4.604 4.87  5.029 5.362 6.29  6.171 7.602 2.338 2.574 2.588
 3.832 5.509 3.834 3.234 2.756 2.088 3.477 2.271 2.926 2.568 3.638 4.983
 7.536 3.072 2.425 3.778 4.898 7.785 4.286 3.297 2.571 3.323 5.904 2.382
 3.448 4.424 3.4   0.531 2.054 5.44  6.229 7.18  2.24  2.445 2.315 3.105
 5.308 2.74  2.339 3.428 4.834 6.129 2.351 2.66  1.967 2.8   2.119 2.229
 4.674 7.084 2.869 2.741 2.218 3.536 5.444 6.396 3.065 2.178 3.824 6.084
 7.434 2.387 1.914 2.396 2.52  4.656 2.03  2.169 1.889 5.47  2.726 1.728
 2.349 3.899 1.748 2.508 2.472 2.594 1.681 4.192 5.016 4.259 7.577 1.746
 1.806 1.531 4.319 4.859 1.979 3.022 5.29  6.33  2.729 1.774 1.407 4.706
 5.176 2.737 1.851 2.989 5.558 6.376]
[nan '0.016' '0.082' '0.027' '0.051' '0.025' '0.008' '0.031' '0.041'
 '0.005' '0.023' '0.053' '0.058' '0.037' '0.000' '0.123' '0.019' '0.004'
 '0.007' '0.006' '0.011' '정량한계미만' '0.010' '0.039' '0.114' '0.018' '0.021'
 '0.012' '0.054' '0.017' '0.034' '0.033' '0.045' '0.038' '0.061' '0.062'
 '0.028' '0.002' '0.020' '0.009' '0.003' '0.024' '0.102' '0.036' '0.015'
 '0.042' '0.132' '0.032' '0.088' '0.067' '0.043' '0.014' '0.134' '0.066'
 '0.001' '0.029' '0.013' '0.060' '0.215' '0.040' '0.120' '0.147' '0.195'
 '0.055' '0.047' '0.086' '0.092' '0.030' '0.063' '0.069' '0.104' '0.044'
 '0.129' '0.026' '0.096' '0.048' '0.078']
[nan '0.003' '0.053' '0.021' '0.038' '0.019' '0.008' '0.014' '0.029'
 '0.022' '0.043' '0.046' '0.024' '0.000' '0.105' '0.006' '정량한계미만' '0.009'
 '0.004' '0.016' '0.081' '0.013' '0.010' '0.001' '0.011' '0.031' '0.026'
 '0.036' '0.044' '0.002' '0.005' '0.091' '0.097' '0.073' '0.054' '0.018'
 '0.111' '0.023' '0.015' '0.172' '0.101' '0.020' '0.175' '0.095' '0.041'
 '0.067' '0.032' '0.039' '0.087' '0.109' '0.047' '0.092' '0.099' '0.027'
 '0.058' '0.052']
[     nan 3.50e+00 3.17e+01 6.60e+00 3.10e+00 4.87e+01 1.00e+00 3.40e+00
 2.30e+00 6.00e-01 1.00e-01 1.80e+00 1.60e+00 1.50e+00 1.70e+00 2.80e+00
 1.84e+01 2.60e+00 3.80e+00 2.40e+00 6.40e+00 3.90e+00 5.90e+00 1.25e+02
 1.28e+01 4.80e+00 8.60e+00 6.80e+00 5.30e+00 1.24e+01 6.70e+00 5.50e+00
 2.45e+01 1.40e+00 6.00e+00 8.00e-01 8.10e+00 3.60e+00 2.70e+00 2.50e+00
 7.90e+00 8.40e+00 9.60e+00 5.20e+00 8.00e+00 8.80e+00 1.04e+01 7.60e+00
 2.20e+00 6.30e+00 7.30e+00 1.03e+01 1.44e+01 1.50e+01 1.35e+02 1.20e+00
 1.08e+01 9.20e+00 6.10e+00 1.36e+01 7.80e+00 1.70e+01 5.10e+00 1.73e+01
 8.30e+00 7.20e+00 6.20e+00 5.40e+00 1.20e+01 1.60e+01 5.60e+00 4.60e+00
 1.10e+01 7.00e+00 1.23e+01 1.12e+02 3.20e+00 1.12e+01 7.70e+00 9.40e+00
 3.20e+01 4.00e+00 1.68e+01 6.50e+00 1.72e+01 3.00e+00 1.30e+01 6.90e+00
 1.80e+01 4.04e+01 2.50e+01 1.65e+01 1.16e+01 1.06e+01 9.00e+00 4.20e+00
 3.45e+02 9.50e+00 1.05e+01 5.80e+00 2.08e+01 2.10e+00 1.30e+00 4.40e+00
 4.70e+00 2.48e+01 2.56e+01 1.00e+01 1.07e+01 2.40e+01 2.12e+01 1.52e+01
 5.20e+01]
[    nan 2.7e+02 2.8e+04 2.1e+04 1.4e+04 8.0e+03 5.6e+02 1.6e+03 9.7e+03
 6.1e+02 5.3e+02 3.7e+03 7.5e+02 8.3e+03 0.0e+00 5.5e+02 3.3e+03 2.4e+04
 1.0e+03 1.3e+03 2.2e+02 7.0e+01 1.8e+03 2.0e+01 3.1e+02 1.0e+04 4.0e+03
 9.0e+02 4.7e+02 3.1e+03 2.4e+03 3.2e+04 3.4e+03 2.6e+04 7.1e+03 2.0e+04
 1.5e+03 3.3e+01 7.0e+02 3.0e+03 7.4e+03 1.0e+01 1.1e+03 2.9e+02 6.0e+04
 4.3e+02 2.6e+02 1.9e+02 2.1e+03 8.8e+01 4.8e+01 6.6e+01 8.0e+01 5.0e+01
 4.2e+02 6.0e+03 3.0e+02 2.5e+01 1.6e+04 2.0e+02 1.3e+04 5.0e+02 1.2e+04
 6.0e+02 1.5e+04 2.0e+00 3.3e+02 2.9e+01 4.4e+04 4.0e+01 6.0e+01 7.0e+00
 7.0e+03 4.9e+03 1.6e+01 2.2e+01 4.6e+02 1.0e+02 9.2e+01 4.6e+01 3.0e+01
 4.6e+04 5.4e+04 5.6e+04 2.0e+03 2.6e+03 1.0e+05 5.7e+03 2.9e+04 1.8e+04
 1.2e+01 1.3e+01 3.3e+04 5.2e+02 1.4e+02 1.8e+01 1.2e+02]
[nan '정량한계미만' '0.00']
[nan '정량한계미만' '0.0000']
[        nan 1.62230e+02 1.58706e+02 2.62700e+00 1.80200e+00 8.00000e-02
 2.04000e-01 6.12000e-01 4.30000e-02 7.27000e-01 4.59400e+00 4.20000e-02
 5.50000e-02 4.23000e-01 5.10000e-02 1.26620e+02 1.25302e+02 3.89500e+00
 2.41900e+00 6.81000e-01 3.58700e+00 9.40000e-02 4.50000e-02 4.17000e-01
 4.80000e-02 7.09000e-01 3.58600e+00 1.21280e+02 1.18205e+02 4.58800e+00
 2.28600e+00 3.70000e-02 5.90000e-02 3.52000e-01 3.60000e-02 1.24440e+02
 1.26573e+02 6.42000e-01 3.96900e+00 2.29600e+00 7.00000e-02 3.74000e-01
 4.10000e-02 1.25230e+02 1.22360e+02 5.27000e-01 4.00200e+00 3.67200e+00
 2.32500e+00 7.90000e-02 4.08000e-01 4.00000e-02 1.28310e+02 1.28995e+02
 4.12200e+00 2.22800e+00 5.54000e-01 3.27500e+00 1.41370e+02 1.41838e+02
 2.24700e+00 2.36000e-01 4.36000e-01 3.30000e-02 2.10540e+02 2.18667e+02
 1.04000e+00 5.52700e+00 5.07100e+00 5.18000e+00 4.60000e-02 2.29000e-01
 5.28000e-01 3.00000e-02 1.57910e+02 1.56615e+02 6.30000e-01 4.29100e+00
 2.60500e+00 4.70000e-02 2.47000e-01 4.38000e-01 3.40000e-02 1.83010e+02
 1.81124e+02 3.03100e+00 2.40600e+00 6.79000e-01 3.44900e+00 6.40000e-02
 3.68000e-01 4.06000e-01 3.10000e-02 1.35880e+02 1.34597e+02 3.24000e+00
 2.35500e+00]

In [11]:
data = data.replace('정량한계미만', np.nan)

In [12]:
data.drop(['수심(m)','유량(㎥/s)'],axis=1,inplace=True)

In [13]:
unique_counts = data.nunique()
columns_to_drop = unique_counts[unique_counts <= 1].index
columns_to_drop

Index(['페놀류(㎎/L)', '카드뮴(㎎/L)', '시안(㎎/L)', '납(㎎/L)', '6가크롬(㎎/L)', '비소(㎎/L)',
       '음이온계면활성제(㎎/L)', '안티몬 (㎎/L)'],
      dtype='object')

In [14]:
data

,측정소명,년/월/일,회차,수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),클로로필 a(㎎/㎥),TN(㎎/L),TP(㎎/L),...,비소(㎎/L),용존총질소(㎎/L),암모니아성 질소(㎎/L),질산성 질소(㎎/L),용존총인(㎎/L),인산염인(㎎/L),SS(㎎/L),분원성대장균군수,음이온계면활성제(㎎/L),안티몬 (㎎/L)
0,구의,2023/01/02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,노량진,2023/01/02,1회차,2.0,13.6,1.5,4.5,9.3,5.448,0.042,...,NaN,5.320,0.678,2.082,0.016,0.003,3.5,270.0,NaN,NaN
2,안양천9,2023/01/02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,중랑천3,2023/01/02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,가양,2023/01/03,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,초이천,2023/04/24,4회차,19.5,12.3,2.0,5.4,NaN,2.978,0.132,...,NaN,NaN,NaN,NaN,NaN,NaN,1.6,NaN,NaN,NaN
227,구의,2023/04/27,4회차,14.8,10.5,1.3,3.6,NaN,2.139,0.024,...,NaN,2.067,0.028,1.851,0.011,0.001,5.5,NaN,NaN,NaN
228,노량진,2023/04/27,4회차,16.4,9.6,2.0,4.5,17.8,3.954,0.048,...,NaN,3.798,0.437,2.989,0.018,0.006,5.8,120.0,NaN,NaN
229,안양천9,2023/04/27,4회차,16.4,8.6,3.9,9.0,NaN,8.556,0.165,...,NaN,8.388,1.333,5.558,0.048,0.018,16.5,NaN,NaN,NaN
230,중랑천3,2023/04/27,4회차,19.4,10.1,2.2,7.1,NaN,7.422,0.144,...,NaN,7.317,0.126,6.376,0.078,0.052,8.4,NaN,NaN,NaN

In [15]:
data.columns

Index(['측정소명', '년/월/일', '회차', '수온(℃)', 'DO(㎎/L)', 'BOD(㎎/L)', 'COD(㎎/L)',
       '클로로필 a(㎎/㎥)', 'TN(㎎/L)', 'TP(㎎/L)', 'TOC(㎎/L)', '수소이온농도', '페놀류(㎎/L)',
       '전기전도도(μS/㎝)', '총대장균군수(총대장균군수/100ml)', '카드뮴(㎎/L)', '시안(㎎/L)', '납(㎎/L)',
       '6가크롬(㎎/L)', '비소(㎎/L)', '용존총질소(㎎/L)', '암모니아성 질소(㎎/L)', '질산성 질소(㎎/L)',
       '용존총인(㎎/L)', '인산염인(㎎/L)', 'SS(㎎/L)', '분원성대장균군수', '음이온계면활성제(㎎/L)',
       '안티몬 (㎎/L)'],
      dtype='object')

In [16]:
data = data[['측정소명', '년/월/일', '회차', '수온(℃)', 'DO(㎎/L)', 'BOD(㎎/L)', 'COD(㎎/L)','TN(㎎/L)', 'TP(㎎/L)', 'TOC(㎎/L)', '수소이온농도','SS(㎎/L)']]

In [17]:
data["COD(㎎/L)"].unique()

array([ nan,  4.5,  5.4,  3.2,  5.9,  3.8,  2. ,  8. ,  5. ,  2.7,  1.5,
        5.1,  5.2,  6.8,  4.6,  6.5,  2.6,  4.7,  3.3,  4.2,  3.1,  8.9,
        7.1,  4. ,  4.9,  4.3,  8.3,  4.1,  6. ,  2.3,  6.7,  2.5,  5.3,
        6.6,  2.2,  2.4,  5.8,  5.6,  4.4,  5.7,  1.9,  6.3,  9.1,  7.5,
        9.5, 10.1,  1.2,  7. ,  4.8, 10.6,  7.7,  6.4,  3.4,  7.8,  3. ,
        7.2,  2.8, 10.9, 10.4, 12.4,  9.4, 10.5,  3.5, 11.1, 10. ,  7.4,
        2.9, 12. ,  3.9, 10.8, 12.7,  8.4, 12.6,  6.1,  9.7,  8.8,  3.7,
        6.2,  5.5, 10.3, 10.7, 13.6,  9.3,  3.6,  9. ])

In [18]:
def assign_score_bod(value):
    if value <= 5:
        return 0
    else:
        return 1

# lambda 함수에 함수 적용
data['BOD_score'] = data['BOD(㎎/L)'].apply(lambda x: assign_score_bod(x))

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\758294882.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['BOD_score'] = data['BOD(㎎/L)'].apply(lambda x: assign_score_bod(x))

In [19]:
print(data['BOD_score'].value_counts())

0    194
1     37
Name: BOD_score, dtype: int64

In [20]:
def assign_score_cod(value):
    if value <= 7:
        return 0
    else:
        return 1

# lambda 함수에 함수 적용
data['COD_score'] = data['COD(㎎/L)'].apply(lambda x: assign_score_cod(x))

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\258608780.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['COD_score'] = data['COD(㎎/L)'].apply(lambda x: assign_score_cod(x))

In [21]:
print(data['COD_score'].value_counts())

0    154
1     77
Name: COD_score, dtype: int64

In [22]:
def assign_score_toc(value):
     if value <= 5:
        return 0
     else:
        return 1

# lambda 함수에 함수 적용
data['TOC_score'] = data['TOC(㎎/L)'].apply(lambda x: assign_score_toc(x))

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\644123046.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['TOC_score'] = data['TOC(㎎/L)'].apply(lambda x: assign_score_toc(x))

In [23]:
print(data['TOC_score'].value_counts())

0    180
1     51
Name: TOC_score, dtype: int64

In [24]:
def assign_score_tp(value):
    if value <= 0.2:
        return 0
    else:
        return 1

# lambda 함수에 함수 적용
data['TP_score'] = data['TP(㎎/L)'].apply(lambda x: assign_score_tp(x))

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\1888322499.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['TP_score'] = data['TP(㎎/L)'].apply(lambda x: assign_score_tp(x))

In [25]:
def assign_score_ss(value):
    if value <= 25:
        return 0
   
    else:
        return 1

# lambda 함수에 함수 적용
data['ss_score'] = data['SS(㎎/L)'].apply(lambda x: assign_score_ss(x))

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\1430876141.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ss_score'] = data['SS(㎎/L)'].apply(lambda x: assign_score_ss(x))

In [26]:
def assign_score_do(value):
    if value >=5:
        return 0
   
    else:
        return 1

# lambda 함수에 함수 적용
data['do_score'] = data['DO(㎎/L)'].apply(lambda x: assign_score_do(x))

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\1091280832.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['do_score'] = data['DO(㎎/L)'].apply(lambda x: assign_score_do(x))

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   측정소명       231 non-null    object
 1   년/월/일      231 non-null    object
 2   회차         231 non-null    object
 3   수온(℃)      209 non-null    float64
 4   DO(㎎/L)    209 non-null    float64
 5   BOD(㎎/L)   209 non-null    float64
 6   COD(㎎/L)   209 non-null    float64
 7   TN(㎎/L)    209 non-null    float64
 8   TP(㎎/L)    209 non-null    float64
 9   TOC(㎎/L)   209 non-null    float64
 10  수소이온농도     209 non-null    float64
 11  SS(㎎/L)    209 non-null    float64
 12  BOD_score  231 non-null    int64
 13  COD_score  231 non-null    int64
 14  TOC_score  231 non-null    int64
 15  TP_score   231 non-null    int64
 16  ss_score   231 non-null    int64
 17  do_score   231 non-null    int64
dtypes: float64(9), int64(6), object(3)
memory usage: 32.6+ KB

In [28]:
data['pollution_score'] = (
    data['BOD_score'] +
    data['COD_score'] +
    data['TOC_score'] +
    data['TP_score'] +
    data['ss_score'] +
    data['do_score']
)

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2311351349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['pollution_score'] = (

In [29]:
data['pollution_score'].value_counts()

0    146
2     26
6     22
1     19
3     15
4      3
Name: pollution_score, dtype: int64

In [30]:
data.drop(['BOD_score','COD_score', 'TOC_score','TN(㎎/L)' ,'TP_score', 'ss_score', 'do_score'],axis=1,inplace=True)

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2150463414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(['BOD_score','COD_score', 'TOC_score','TN(㎎/L)' ,'TP_score', 'ss_score', 'do_score'],axis=1,inplace=True)

In [31]:
data

,측정소명,년/월/일,회차,수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),TP(㎎/L),TOC(㎎/L),수소이온농도,SS(㎎/L),pollution_score
0,구의,2023/01/02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
1,노량진,2023/01/02,1회차,2.0,13.6,1.5,4.5,0.042,3.2,8.0,3.5,0
2,안양천9,2023/01/02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
3,중랑천3,2023/01/02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
4,가양,2023/01/03,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...
226,초이천,2023/04/24,4회차,19.5,12.3,2.0,5.4,0.132,2.2,9.2,1.6,0
227,구의,2023/04/27,4회차,14.8,10.5,1.3,3.6,0.024,2.3,8.5,5.5,0
228,노량진,2023/04/27,4회차,16.4,9.6,2.0,4.5,0.048,3.4,8.4,5.8,0
229,안양천9,2023/04/27,4회차,16.4,8.6,3.9,9.0,0.165,8.1,7.7,16.5,2
230,중랑천3,2023/04/27,4회차,19.4,10.1,2.2,7.1,0.144,5.1,8.1,8.4,2

In [32]:
data['년/월/일'] = pd.to_datetime(data['년/월/일'])

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\1782319972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['년/월/일'] = pd.to_datetime(data['년/월/일'])

In [33]:
data

,측정소명,년/월/일,회차,수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),TP(㎎/L),TOC(㎎/L),수소이온농도,SS(㎎/L),pollution_score
0,구의,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
1,노량진,2023-01-02,1회차,2.0,13.6,1.5,4.5,0.042,3.2,8.0,3.5,0
2,안양천9,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
3,중랑천3,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
4,가양,2023-01-03,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...
226,초이천,2023-04-24,4회차,19.5,12.3,2.0,5.4,0.132,2.2,9.2,1.6,0
227,구의,2023-04-27,4회차,14.8,10.5,1.3,3.6,0.024,2.3,8.5,5.5,0
228,노량진,2023-04-27,4회차,16.4,9.6,2.0,4.5,0.048,3.4,8.4,5.8,0
229,안양천9,2023-04-27,4회차,16.4,8.6,3.9,9.0,0.165,8.1,7.7,16.5,2
230,중랑천3,2023-04-27,4회차,19.4,10.1,2.2,7.1,0.144,5.1,8.1,8.4,2

In [34]:
import numpy as np
import pandas as pd

In [82]:
df_2023 = pd.read_csv('rainfall_2023.csv', encoding='cp949')

In [83]:
df_2023['지점명'].unique()

array(['관악(레)', '강남', '서초', '강동', '송파', '강서', '양천', '도봉', '노원', '동대문',
       '중랑', '기상청', '마포', '서대문', '광진', '성북', '용산', '은평', '금천', '한강', '중구',
       '성동', '구로', '강북', '남현', '관악', '영등포 ', '현충원'], dtype=object)

In [84]:
df = df_2023[~df_2023['지점명'].isin(['기상청', '한강', '남현', '현충원', '관악(레)'])]
df

         지점   지점명                일시  강수량(mm)
4311    400    강남  2023-01-01 00:00      0.0
4312    400    강남  2023-01-01 01:00      0.0
4313    400    강남  2023-01-01 02:00      0.0
4314    400    강남  2023-01-01 03:00      0.0
4315    400    강남  2023-01-01 04:00      0.0
...     ...   ...               ...      ...
116804  510  영등포   2023-06-30 19:00      0.0
116805  510  영등포   2023-06-30 20:00      0.0
116806  510  영등포   2023-06-30 21:00      0.0
116807  510  영등포   2023-06-30 22:00      0.0
116808  510  영등포   2023-06-30 23:00      0.0

[99522 rows x 4 columns]

In [85]:
df['날짜'] = pd.to_datetime(df['일시']).dt.date
df

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2787580731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['날짜'] = pd.to_datetime(df['일시']).dt.date

         지점   지점명                일시  강수량(mm)          날짜
4311    400    강남  2023-01-01 00:00      0.0  2023-01-01
4312    400    강남  2023-01-01 01:00      0.0  2023-01-01
4313    400    강남  2023-01-01 02:00      0.0  2023-01-01
4314    400    강남  2023-01-01 03:00      0.0  2023-01-01
4315    400    강남  2023-01-01 04:00      0.0  2023-01-01
...     ...   ...               ...      ...         ...
116804  510  영등포   2023-06-30 19:00      0.0  2023-06-30
116805  510  영등포   2023-06-30 20:00      0.0  2023-06-30
116806  510  영등포   2023-06-30 21:00      0.0  2023-06-30
116807  510  영등포   2023-06-30 22:00      0.0  2023-06-30
116808  510  영등포   2023-06-30 23:00      0.0  2023-06-30

[99522 rows x 5 columns]

In [86]:
df['cum_rainfall'] = df.groupby(['지점명', '날짜'])['강수량(mm)'].cumsum()
df

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\1848631382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cum_rainfall'] = df.groupby(['지점명', '날짜'])['강수량(mm)'].cumsum()

         지점   지점명                일시  강수량(mm)          날짜  cum_rainfall
4311    400    강남  2023-01-01 00:00      0.0  2023-01-01           0.0
4312    400    강남  2023-01-01 01:00      0.0  2023-01-01           0.0
4313    400    강남  2023-01-01 02:00      0.0  2023-01-01           0.0
4314    400    강남  2023-01-01 03:00      0.0  2023-01-01           0.0
4315    400    강남  2023-01-01 04:00      0.0  2023-01-01           0.0
...     ...   ...               ...      ...         ...           ...
116804  510  영등포   2023-06-30 19:00      0.0  2023-06-30           0.5
116805  510  영등포   2023-06-30 20:00      0.0  2023-06-30           0.5
116806  510  영등포   2023-06-30 21:00      0.0  2023-06-30           0.5
116807  510  영등포   2023-06-30 22:00      0.0  2023-06-30           0.5
116808  510  영등포   2023-06-30 23:00      0.0  2023-06-30           0.5

[99522 rows x 6 columns]

In [87]:
df_3mm = df[df['강수량(mm)'] >= 3]
df_3mm

         지점   지점명                일시  강수량(mm)          날짜  cum_rainfall
4601    400    강남  2023-01-13 02:00      3.0  2023-01-13           3.0
4602    400    강남  2023-01-13 03:00      3.5  2023-01-13           6.5
4606    400    강남  2023-01-13 07:00     10.0  2023-01-13          22.0
4607    400    강남  2023-01-13 08:00      7.0  2023-01-13          29.0
4608    400    강남  2023-01-13 09:00      4.5  2023-01-13          33.5
...     ...   ...               ...      ...         ...           ...
116712  510  영등포   2023-06-26 23:00      3.0  2023-06-26          27.0
116770  510  영등포   2023-06-29 09:00      5.0  2023-06-29           5.0
116772  510  영등포   2023-06-29 11:00     16.0  2023-06-29          22.5
116773  510  영등포   2023-06-29 12:00     26.0  2023-06-29          48.5
116777  510  영등포   2023-06-29 16:00     13.0  2023-06-29          66.0

[1189 rows x 6 columns]

In [88]:
df_fin = df_3mm.drop_duplicates(subset=['지점명', '날짜'])
df_fin

         지점   지점명                일시  강수량(mm)          날짜  cum_rainfall
4601    400    강남  2023-01-13 02:00      3.0  2023-01-13           3.0
6551    400    강남  2023-04-04 23:00      4.0  2023-04-04           6.0
6552    400    강남  2023-04-05 00:00      3.0  2023-04-05           3.0
7130    400    강남  2023-04-29 02:00      4.5  2023-04-29           5.5
7292    400    강남  2023-05-05 20:00      5.0  2023-05-05          15.0
...     ...   ...               ...      ...         ...           ...
116332  510  영등포   2023-06-11 03:00      3.0  2023-06-11           7.0
116416  510  영등포   2023-06-14 15:00      5.5  2023-06-14           5.5
116569  510  영등포   2023-06-21 00:00      6.0  2023-06-21           6.0
116695  510  영등포   2023-06-26 06:00     10.0  2023-06-26          11.0
116770  510  영등포   2023-06-29 09:00      5.0  2023-06-29           5.0

[320 rows x 6 columns]

In [89]:
df['flag'] = 0

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\3030806186.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flag'] = 0

In [90]:
df['일시'] = pd.to_datetime(df['일시'])
df = df[df['일시'].dt.strftime('%H:%M') == '23:00']
df

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2357555552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['일시'] = pd.to_datetime(df['일시'])

         지점   지점명                  일시  강수량(mm)          날짜  cum_rainfall  flag
4334    400    강남 2023-01-01 23:00:00      0.0  2023-01-01           0.0     0
4358    400    강남 2023-01-02 23:00:00      0.0  2023-01-02           0.0     0
4382    400    강남 2023-01-03 23:00:00      0.0  2023-01-03           0.0     0
4406    400    강남 2023-01-04 23:00:00      0.0  2023-01-04           0.0     0
4430    400    강남 2023-01-05 23:00:00      0.0  2023-01-05           0.0     0
...     ...   ...                 ...      ...         ...           ...   ...
116712  510  영등포  2023-06-26 23:00:00      3.0  2023-06-26          27.0     0
116736  510  영등포  2023-06-27 23:00:00      0.0  2023-06-27           1.0     0
116760  510  영등포  2023-06-28 23:00:00      0.0  2023-06-28           0.0     0
116784  510  영등포  2023-06-29 23:00:00      0.0  2023-06-29          67.5     0
116808  510  영등포  2023-06-30 23:00:00      0.0  2023-06-30           0.5     0

[4136 rows x 7 columns]

In [91]:
df[df['cum_rainfall'] > 0]

         지점   지점명                  일시  강수량(mm)          날짜  cum_rainfall  flag
4454    400    강남 2023-01-06 23:00:00      1.0  2023-01-06           1.5     0
4478    400    강남 2023-01-07 23:00:00      0.0  2023-01-07           2.5     0
4622    400    강남 2023-01-13 23:00:00      0.0  2023-01-13          35.0     0
4646    400    강남 2023-01-14 23:00:00      0.0  2023-01-14           3.5     0
4670    400    강남 2023-01-15 23:00:00      0.0  2023-01-15           5.5     0
...     ...   ...                 ...      ...         ...           ...   ...
116592  510  영등포  2023-06-21 23:00:00      0.0  2023-06-21          29.0     0
116712  510  영등포  2023-06-26 23:00:00      3.0  2023-06-26          27.0     0
116736  510  영등포  2023-06-27 23:00:00      0.0  2023-06-27           1.0     0
116784  510  영등포  2023-06-29 23:00:00      0.0  2023-06-29          67.5     0
116808  510  영등포  2023-06-30 23:00:00      0.0  2023-06-30           0.5     0

[792 rows x 7 columns]

In [92]:
df_fin = df_fin[['지점명', '날짜']]
df_fin

         지점명          날짜
4601      강남  2023-01-13
6551      강남  2023-04-04
6552      강남  2023-04-05
7130      강남  2023-04-29
7292      강남  2023-05-05
...      ...         ...
116332  영등포   2023-06-11
116416  영등포   2023-06-14
116569  영등포   2023-06-21
116695  영등포   2023-06-26
116770  영등포   2023-06-29

[320 rows x 2 columns]

In [93]:
df

         지점   지점명                  일시  강수량(mm)          날짜  cum_rainfall  flag
4334    400    강남 2023-01-01 23:00:00      0.0  2023-01-01           0.0     0
4358    400    강남 2023-01-02 23:00:00      0.0  2023-01-02           0.0     0
4382    400    강남 2023-01-03 23:00:00      0.0  2023-01-03           0.0     0
4406    400    강남 2023-01-04 23:00:00      0.0  2023-01-04           0.0     0
4430    400    강남 2023-01-05 23:00:00      0.0  2023-01-05           0.0     0
...     ...   ...                 ...      ...         ...           ...   ...
116712  510  영등포  2023-06-26 23:00:00      3.0  2023-06-26          27.0     0
116736  510  영등포  2023-06-27 23:00:00      0.0  2023-06-27           1.0     0
116760  510  영등포  2023-06-28 23:00:00      0.0  2023-06-28           0.0     0
116784  510  영등포  2023-06-29 23:00:00      0.0  2023-06-29          67.5     0
116808  510  영등포  2023-06-30 23:00:00      0.0  2023-06-30           0.5     0

[4136 rows x 7 columns]

In [94]:
df[df['cum_rainfall'] > 0]

         지점   지점명                  일시  강수량(mm)          날짜  cum_rainfall  flag
4454    400    강남 2023-01-06 23:00:00      1.0  2023-01-06           1.5     0
4478    400    강남 2023-01-07 23:00:00      0.0  2023-01-07           2.5     0
4622    400    강남 2023-01-13 23:00:00      0.0  2023-01-13          35.0     0
4646    400    강남 2023-01-14 23:00:00      0.0  2023-01-14           3.5     0
4670    400    강남 2023-01-15 23:00:00      0.0  2023-01-15           5.5     0
...     ...   ...                 ...      ...         ...           ...   ...
116592  510  영등포  2023-06-21 23:00:00      0.0  2023-06-21          29.0     0
116712  510  영등포  2023-06-26 23:00:00      3.0  2023-06-26          27.0     0
116736  510  영등포  2023-06-27 23:00:00      0.0  2023-06-27           1.0     0
116784  510  영등포  2023-06-29 23:00:00      0.0  2023-06-29          67.5     0
116808  510  영등포  2023-06-30 23:00:00      0.0  2023-06-30           0.5     0

[792 rows x 7 columns]

In [95]:
df['flag'] = df.apply(lambda row: 1 if (row['지점명'], row['날짜']) in zip(df_fin['지점명'], df_fin['날짜']) else row['flag'], axis=1)
df

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\679207452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flag'] = df.apply(lambda row: 1 if (row['지점명'], row['날짜']) in zip(df_fin['지점명'], df_fin['날짜']) else row['flag'], axis=1)

         지점   지점명                  일시  강수량(mm)          날짜  cum_rainfall  flag
4334    400    강남 2023-01-01 23:00:00      0.0  2023-01-01           0.0     0
4358    400    강남 2023-01-02 23:00:00      0.0  2023-01-02           0.0     0
4382    400    강남 2023-01-03 23:00:00      0.0  2023-01-03           0.0     0
4406    400    강남 2023-01-04 23:00:00      0.0  2023-01-04           0.0     0
4430    400    강남 2023-01-05 23:00:00      0.0  2023-01-05           0.0     0
...     ...   ...                 ...      ...         ...           ...   ...
116712  510  영등포  2023-06-26 23:00:00      3.0  2023-06-26          27.0     1
116736  510  영등포  2023-06-27 23:00:00      0.0  2023-06-27           1.0     0
116760  510  영등포  2023-06-28 23:00:00      0.0  2023-06-28           0.0     0
116784  510  영등포  2023-06-29 23:00:00      0.0  2023-06-29          67.5     1
116808  510  영등포  2023-06-30 23:00:00      0.0  2023-06-30           0.5     0

[4136 rows x 7 columns]

In [96]:
len(df[df['flag'] == 1])

320

In [97]:
df = df[['지점명', '날짜', 'cum_rainfall' ,'flag']]
df

         지점명          날짜  cum_rainfall  flag
4334      강남  2023-01-01           0.0     0
4358      강남  2023-01-02           0.0     0
4382      강남  2023-01-03           0.0     0
4406      강남  2023-01-04           0.0     0
4430      강남  2023-01-05           0.0     0
...      ...         ...           ...   ...
116712  영등포   2023-06-26          27.0     1
116736  영등포   2023-06-27           1.0     0
116760  영등포   2023-06-28           0.0     0
116784  영등포   2023-06-29          67.5     1
116808  영등포   2023-06-30           0.5     0

[4136 rows x 4 columns]

In [98]:
df['날짜'] = pd.to_datetime(df['날짜'])
df[df['날짜'].dt.date == pd.to_datetime('2018-04-10').date()]

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2713312092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['날짜'] = pd.to_datetime(df['날짜'])

Empty DataFrame
Columns: [지점명, 날짜, cum_rainfall, flag]
Index: []

In [99]:
df[df['cum_rainfall'] > 0]

         지점명         날짜  cum_rainfall  flag
4454      강남 2023-01-06           1.5     0
4478      강남 2023-01-07           2.5     0
4622      강남 2023-01-13          35.0     1
4646      강남 2023-01-14           3.5     0
4670      강남 2023-01-15           5.5     0
...      ...        ...           ...   ...
116592  영등포  2023-06-21          29.0     1
116712  영등포  2023-06-26          27.0     1
116736  영등포  2023-06-27           1.0     0
116784  영등포  2023-06-29          67.5     1
116808  영등포  2023-06-30           0.5     0

[792 rows x 4 columns]

비가 오긴 한 날 792, 한 시간에 3mm이상 온 날: 320개

In [100]:
df

         지점명         날짜  cum_rainfall  flag
4334      강남 2023-01-01           0.0     0
4358      강남 2023-01-02           0.0     0
4382      강남 2023-01-03           0.0     0
4406      강남 2023-01-04           0.0     0
4430      강남 2023-01-05           0.0     0
...      ...        ...           ...   ...
116712  영등포  2023-06-26          27.0     1
116736  영등포  2023-06-27           1.0     0
116760  영등포  2023-06-28           0.0     0
116784  영등포  2023-06-29          67.5     1
116808  영등포  2023-06-30           0.5     0

[4136 rows x 4 columns]

In [54]:
data

,측정소명,년/월/일,회차,수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),TP(㎎/L),TOC(㎎/L),수소이온농도,SS(㎎/L),pollution_score
0,구의,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
1,노량진,2023-01-02,1회차,2.0,13.6,1.5,4.5,0.042,3.2,8.0,3.5,0
2,안양천9,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
3,중랑천3,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
4,가양,2023-01-03,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...
226,초이천,2023-04-24,4회차,19.5,12.3,2.0,5.4,0.132,2.2,9.2,1.6,0
227,구의,2023-04-27,4회차,14.8,10.5,1.3,3.6,0.024,2.3,8.5,5.5,0
228,노량진,2023-04-27,4회차,16.4,9.6,2.0,4.5,0.048,3.4,8.4,5.8,0
229,안양천9,2023-04-27,4회차,16.4,8.6,3.9,9.0,0.165,8.1,7.7,16.5,2
230,중랑천3,2023-04-27,4회차,19.4,10.1,2.2,7.1,0.144,5.1,8.1,8.4,2

In [55]:
data['pollution_score'].unique()

array([6, 0, 1, 2, 3, 4], dtype=int64)

In [56]:
data2 = data[data['측정소명'].isin(['가양', '노량진'])]

In [57]:
data2['pollution_score'].unique()

array([0, 6, 1], dtype=int64)

In [58]:
data['자치구']=0

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\3025801739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['자치구']=0

In [59]:
data

,측정소명,년/월/일,회차,수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),TP(㎎/L),TOC(㎎/L),수소이온농도,SS(㎎/L),pollution_score,자치구
0,구의,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,0
1,노량진,2023-01-02,1회차,2.0,13.6,1.5,4.5,0.042,3.2,8.0,3.5,0,0
2,안양천9,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,0
3,중랑천3,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,0
4,가양,2023-01-03,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,초이천,2023-04-24,4회차,19.5,12.3,2.0,5.4,0.132,2.2,9.2,1.6,0,0
227,구의,2023-04-27,4회차,14.8,10.5,1.3,3.6,0.024,2.3,8.5,5.5,0,0
228,노량진,2023-04-27,4회차,16.4,9.6,2.0,4.5,0.048,3.4,8.4,5.8,0,0
229,안양천9,2023-04-27,4회차,16.4,8.6,3.9,9.0,0.165,8.1,7.7,16.5,2,0
230,중랑천3,2023-04-27,4회차,19.4,10.1,2.2,7.1,0.144,5.1,8.1,8.4,2,0

In [63]:
data['측정소명'].nunique() #33
data['측정소명'].value_counts()

구의       17
노량진      17
안양천9     17
중랑천3     17
가양       17
초이천      10
양재천1     10
망월천      10
감이천      10
목감천2      9
안양천8      9
양재천2      4
우이천       4
고덕천       4
도림천       4
목감천1      4
성내천       4
성북천       4
잠실        4
영등포       4
암사        4
보광        4
뚝도        4
홍제천       4
탄천6       4
청계천3      4
청계천2      4
청계천1      4
안양천10     4
중랑천5      4
중랑천4      4
정릉천       4
중랑천6      4
Name: 측정소명, dtype: int64

In [67]:
data.loc[data['측정소명'] == '가양', '자치구'] = '강서구'
data.loc[data['측정소명'].isin(['보광','노량진']), '자치구'] = '용산구'
data.loc[data['측정소명'].isin(['성내천','고덕천','망월천','초이천','구의','암사']), '자치구'] = '강동구'
data.loc[data['측정소명'].isin(['목감천1', '목감천2', '안양천8', '안양천9']), '자치구'] = '구로구'
data.loc[data['측정소명'].isin(['성북천', '정릉천', '중랑천5']), '자치구'] = '동대문구'
#15개
data.loc[data['측정소명'].isin(['안양천10']), '자치구'] = '양천구'
data.loc[data['측정소명'].isin(['중랑천3', ]), '자치구'] = '도봉구'
data.loc[data['측정소명'].isin(['양재천2','탄천6']), '자치구'] = '강남구'
data.loc[data['측정소명'].isin(['청계천2', '청계천3', '중랑천6','뚝도']), '자치구'] = '성동구'
data.loc[data['측정소명'].isin(['우이천',]), '자치구'] = '성북구'
data.loc[data['측정소명'].isin(['홍제천']), '자치구'] = '마포구'
data.loc[data['측정소명'].isin(['잠실','감이천']), '자치구'] = '송파구'
#26개                            
data.loc[data['측정소명'].isin(['양재천1']), '자치구'] = '서초구'
#28개
data.loc[data['측정소명'].isin(['도림천']), '자치구'] = '동작구'
#30개
data.loc[data['측정소명'].isin(['중랑천4']), '자치구'] = '노원구'
data.loc[data['측정소명'].isin(['영등포']), '자치구'] = '영등포구'
data.loc[data['측정소명'].isin(['청계천1']), '자치구'] = '중구'

In [73]:
data.rename(columns={'년/월/일': '날짜'}, inplace = True)

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\239013938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'년/월/일': '날짜'}, inplace = True)

In [101]:
df['지점명'] = df['지점명'] + '구'
df['지점명'] = df['지점명'].str.replace(' ', '')
df
#df['지점명'] = df['지점명'].str.replace('중구구', '중구')

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2728214839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['지점명'] = df['지점명'] + '구'
C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2728214839.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['지점명'] = df['지점명'].str.replace(' ', '')

         지점명         날짜  cum_rainfall  flag
4334     강남구 2023-01-01           0.0     0
4358     강남구 2023-01-02           0.0     0
4382     강남구 2023-01-03           0.0     0
4406     강남구 2023-01-04           0.0     0
4430     강남구 2023-01-05           0.0     0
...      ...        ...           ...   ...
116712  영등포구 2023-06-26          27.0     1
116736  영등포구 2023-06-27           1.0     0
116760  영등포구 2023-06-28           0.0     0
116784  영등포구 2023-06-29          67.5     1
116808  영등포구 2023-06-30           0.5     0

[4136 rows x 4 columns]

In [102]:
df['지점명'].value_counts()

강북구     181
송파구     181
도봉구     181
노원구     181
동대문구    181
마포구     181
용산구     181
강남구     180
광진구     180
구로구     180
성동구     180
금천구     180
서대문구    180
서초구     180
중랑구     180
강동구     180
영등포구    180
은평구     179
중구구     179
양천구     179
강서구     179
관악구     177
성북구     176
Name: 지점명, dtype: int64

In [103]:
df['지점명'] = df['지점명'].str.replace('중구구', '중구')

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2652967805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['지점명'] = df['지점명'].str.replace('중구구', '중구')

In [106]:
df['지점명'].unique()

array(['강남구', '서초구', '강동구', '송파구', '강서구', '양천구', '도봉구', '노원구', '동대문구',
       '중랑구', '마포구', '서대문구', '광진구', '성북구', '용산구', '은평구', '금천구', '중구',
       '성동구', '구로구', '강북구', '관악구', '영등포구'], dtype=object)

In [107]:
data['날짜'] = pd.to_datetime(data['날짜'])
df['날짜'] = pd.to_datetime(df['날짜'])

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2143929551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['날짜'] = pd.to_datetime(data['날짜'])
C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\2143929551.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['날짜'] = pd.to_datetime(df['날짜'])

In [116]:
df

         지점명         날짜  cum_rainfall  flag
4334     강남구 2023-01-01           0.0     0
4358     강남구 2023-01-02           0.0     0
4382     강남구 2023-01-03           0.0     0
4406     강남구 2023-01-04           0.0     0
4430     강남구 2023-01-05           0.0     0
...      ...        ...           ...   ...
116712  영등포구 2023-06-26          27.0     1
116736  영등포구 2023-06-27           1.0     0
116760  영등포구 2023-06-28           0.0     0
116784  영등포구 2023-06-29          67.5     1
116808  영등포구 2023-06-30           0.5     0

[4136 rows x 4 columns]

In [119]:
merged_df = pd.merge(data, df, left_on=['자치구', '날짜'], right_on=['지점명', '날짜'], how='left')
merged_df

,측정소명,날짜,회차,수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),TP(㎎/L),TOC(㎎/L),수소이온농도,SS(㎎/L),pollution_score,자치구,cum_rainfall_x,flag_x,지점명,cum_rainfall_y,flag_y
0,구의,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,강동구,NaN,NaN,강동구,0.0,0.0
1,노량진,2023-01-02,1회차,2.0,13.6,1.5,4.5,0.042,3.2,8.0,3.5,0,용산구,NaN,NaN,용산구,0.0,0.0
2,안양천9,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,구로구,NaN,NaN,구로구,0.0,0.0
3,중랑천3,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,도봉구,NaN,NaN,도봉구,0.0,0.0
4,가양,2023-01-03,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,강서구,NaN,NaN,강서구,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,초이천,2023-04-24,4회차,19.5,12.3,2.0,5.4,0.132,2.2,9.2,1.6,0,강동구,NaN,NaN,강동구,0.0,0.0
227,구의,2023-04-27,4회차,14.8,10.5,1.3,3.6,0.024,2.3,8.5,5.5,0,강동구,NaN,NaN,강동구,0.0,0.0
228,노량진,2023-04-27,4회차,16.4,9.6,2.0,4.5,0.048,3.4,8.4,5.8,0,용산구,NaN,NaN,용산구,0.0,0.0
229,안양천9,2023-04-27,4회차,16.4,8.6,3.9,9.0,0.165,8.1,7.7,16.5,2,구로구,NaN,NaN,구로구,0.0,0.0
230,중랑천3,2023-04-27,4회차,19.4,10.1,2.2,7.1,0.144,5.1,8.1,8.4,2,도봉구,NaN,NaN,도봉구,0.0,0.0

In [124]:
merged_df['flag_y'].value_counts()

0.0    220
1.0      7
Name: flag_y, dtype: int64

In [125]:
data['cum_rainfall'] = merged_df['cum_rainfall_y']
data['flag'] = merged_df['flag_y']
data

C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\3647079957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cum_rainfall'] = merged_df['cum_rainfall_y']
C:\Users\youngseolee\AppData\Local\Temp\ipykernel_9816\3647079957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['flag'] = merged_df['flag_y']

,측정소명,날짜,회차,수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),TP(㎎/L),TOC(㎎/L),수소이온농도,SS(㎎/L),pollution_score,자치구,cum_rainfall,flag
0,구의,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,강동구,0.0,0.0
1,노량진,2023-01-02,1회차,2.0,13.6,1.5,4.5,0.042,3.2,8.0,3.5,0,용산구,0.0,0.0
2,안양천9,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,구로구,0.0,0.0
3,중랑천3,2023-01-02,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,도봉구,0.0,0.0
4,가양,2023-01-03,1회차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,강서구,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,초이천,2023-04-24,4회차,19.5,12.3,2.0,5.4,0.132,2.2,9.2,1.6,0,강동구,0.0,0.0
227,구의,2023-04-27,4회차,14.8,10.5,1.3,3.6,0.024,2.3,8.5,5.5,0,강동구,0.0,0.0
228,노량진,2023-04-27,4회차,16.4,9.6,2.0,4.5,0.048,3.4,8.4,5.8,0,용산구,0.0,0.0
229,안양천9,2023-04-27,4회차,16.4,8.6,3.9,9.0,0.165,8.1,7.7,16.5,2,구로구,0.0,0.0
230,중랑천3,2023-04-27,4회차,19.4,10.1,2.2,7.1,0.144,5.1,8.1,8.4,2,도봉구,0.0,0.0

In [144]:
data.isnull().sum()

측정소명                0
날짜                  0
회차                  0
수온(℃)              22
DO(㎎/L)            22
BOD(㎎/L)           22
COD(㎎/L)           22
TP(㎎/L)            22
TOC(㎎/L)           22
수소이온농도             22
SS(㎎/L)            22
pollution_score     0
자치구                 0
cum_rainfall        4
flag                4
dtype: int64

In [128]:
new_df = data.drop([0, 2, 3, 4,6])

In [143]:
new_df.isnull().sum()

측정소명                0
날짜                  0
회차                  0
수온(℃)              18
DO(㎎/L)            18
BOD(㎎/L)           18
COD(㎎/L)           18
TP(㎎/L)            18
TOC(㎎/L)           18
수소이온농도             18
SS(㎎/L)            18
pollution_score     0
자치구                 0
cum_rainfall        3
flag                3
dtype: int64

In [145]:
new_df.dropna(inplace=True)

In [146]:
unique_gu = new_df['자치구'].unique()

gu_dataframes = {}  # 자치구별 데이터프레임을 저장할 딕셔너리

for gu in unique_gu:
    gu_dataframes[gu] = new_df[new_df['자치구'] == gu].copy()

In [147]:
df_guro=gu_dataframes['구로구']
df_guro

,측정소명,날짜,회차,수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),TP(㎎/L),TOC(㎎/L),수소이온농도,SS(㎎/L),pollution_score,자치구,cum_rainfall,flag
7,목감천1,2023-01-05,1회차,4.9,13.0,2.1,5.9,0.094,3.2,7.7,3.1,0,구로구,0.0,0.0
30,안양천9,2023-01-12,2회차,10.0,11.5,3.0,8.9,0.111,6.3,7.5,6.4,2,구로구,0.0,0.0
40,목감천2,2023-01-19,1회차,5.5,11.4,2.3,5.1,0.087,2.6,7.6,8.6,0,구로구,0.0,0.0
41,안양천8,2023-01-19,1회차,8.9,11.0,3.2,8.3,0.030,3.3,7.4,18.4,1,구로구,0.0,0.0
55,목감천1,2023-02-02,1회차,4.9,12.5,2.6,6.0,0.113,3.8,7.6,5.5,0,구로구,0.0,0.0
87,안양천9,2023-02-16,2회차,8.4,10.2,4.6,9.1,0.126,6.9,8.0,10.3,2,구로구,0.0,0.0
89,목감천2,2023-02-17,1회차,8.9,12.0,3.4,6.5,0.109,3.8,7.8,14.4,0,구로구,0.0,0.0
90,안양천8,2023-02-17,1회차,13.2,12.7,3.7,9.5,0.045,5.4,7.7,12.4,2,구로구,0.0,0.0
96,목감천2,2023-02-23,2회차,9.7,11.6,2.7,6.8,0.126,3.8,7.8,10.8,0,구로구,0.0,0.0
97,안양천8,2023-02-23,2회차,12.5,12.6,3.5,10.6,0.031,5.7,7.8,9.2,2,구로구,0.0,0.0
100,안양천9,2023-02-23,3회차,8.5,10.3,4.2,9.5,0.129,7.0,7.8,7.8,2,구로구,0.0,0.0
109,목감천1,2023-03-02,1회차,9.4,11.5,2.3,6.7,0.168,4.1,7.6,3.5,0,구로구,0.0,0.0
131,목감천2,2023-03-09,1회차,12.0,6.7,6.0,12.4,0.390,6.4,7.6,12.4,4,구로구,6.5,1.0
132,안양천8,2023-03-09,1회차,14.8,12.0,3.3,10.1,0.055,5.4,7.7,7.2,2,구로구,6.5,1.0
133,안양천9,2023-03-09,1회차,13.2,8.5,6.7,9.4,0.140,6.6,7.7,7.0,3,구로구,6.5,1.0
146,목감천2,2023-03-16,2회차,11.6,10.1,2.7,7.5,0.116,3.9,7.7,11.2,1,구로구,0.0,0.0
147,안양천8,2023-03-16,2회차,14.0,12.4,5.5,11.1,0.073,6.6,7.9,5.6,3,구로구,0.0,0.0
148,안양천9,2023-03-16,2회차,10.2,10.1,3.0,10.0,0.110,7.1,7.8,5.9,2,구로구,0.0,0.0
158,안양천9,2023-03-23,3회차,16.5,8.2,3.8,10.8,0.147,8.2,7.6,6.5,2,구로구,0.0,0.0
160,목감천2,2023-03-24,3회차,16.1,8.8,3.1,8.9,0.182,4.7,7.7,16.8,1,구로구,0.0,0.0
161,안양천8,2023-03-24,3회차,17.6,11.9,5.6,12.7,0.109,7.2,7.8,11.2,3,구로구,0.0,0.0
165,안양천9,2023-03-30,4회차,14.9,9.2,3.6,10.9,0.124,7.8,7.7,6.4,2,구로구,0.0,0.0
174,목감천2,2023-04-06,1회차,12.5,8.8,4.8,9.7,0.194,5.1,7.8,18.0,2,구로구,2.5,0.0
175,안양천8,2023-04-06,1회차,14.4,8.4,4.0,9.1,0.056,4.2,7.3,40.4,2,구로구,2.5,0.0
176,안양천9,2023-04-06,1회차,13.7,7.8,9.6,9.4,0.200,7.6,7.8,25.0,3,구로구,2.5,0.0
185,목감천1,2023-04-13,1회차,7.6,9.2,3.4,5.6,0.161,4.5,7.6,13.0,0,구로구,0.0,0.0
207,목감천2,2023-04-14,2회차,19.1,8.2,3.5,8.4,0.173,4.2,7.7,24.8,1,구로구,0.0,0.0
208,안양천8,2023-04-14,2회차,21.1,9.7,2.6,10.3,0.060,5.3,7.7,25.6,3,구로구,0.0,0.0
209,안양천9,2023-04-14,2회차,16.6,7.8,3.7,10.7,0.140,8.0,7.7,10.0,2,구로구,0.0,0.0
218,안양천9,2023-04-20,3회차,18.8,7.1,4.4,9.3,0.147,6.6,7.7,10.7,2,구로구,0.0,0.0
220,목감천2,2023-04-21,3회차,20.1,8.1,4.6,8.3,0.235,4.8,7.8,24.0,2,구로구,0.0,0.0
221,안양천8,2023-04-21,3회차,22.2,9.9,2.9,9.7,0.069,5.8,7.9,21.2,2,구로구,0.0,0.0
229,안양천9,2023-04-27,4회차,16.4,8.6,3.9,9.0,0.165,8.1,7.7,16.5,2,구로구,0.0,0.0

In [149]:
df_guro['PM10']=0
df_guro

,측정소명,날짜,회차,수온(℃),DO(㎎/L),BOD(㎎/L),COD(㎎/L),TP(㎎/L),TOC(㎎/L),수소이온농도,SS(㎎/L),pollution_score,자치구,cum_rainfall,flag,PM10
7,목감천1,2023-01-05,1회차,4.9,13.0,2.1,5.9,0.094,3.2,7.7,3.1,0,구로구,0.0,0.0,0
30,안양천9,2023-01-12,2회차,10.0,11.5,3.0,8.9,0.111,6.3,7.5,6.4,2,구로구,0.0,0.0,0
40,목감천2,2023-01-19,1회차,5.5,11.4,2.3,5.1,0.087,2.6,7.6,8.6,0,구로구,0.0,0.0,0
41,안양천8,2023-01-19,1회차,8.9,11.0,3.2,8.3,0.030,3.3,7.4,18.4,1,구로구,0.0,0.0,0
55,목감천1,2023-02-02,1회차,4.9,12.5,2.6,6.0,0.113,3.8,7.6,5.5,0,구로구,0.0,0.0,0
87,안양천9,2023-02-16,2회차,8.4,10.2,4.6,9.1,0.126,6.9,8.0,10.3,2,구로구,0.0,0.0,0
89,목감천2,2023-02-17,1회차,8.9,12.0,3.4,6.5,0.109,3.8,7.8,14.4,0,구로구,0.0,0.0,0
90,안양천8,2023-02-17,1회차,13.2,12.7,3.7,9.5,0.045,5.4,7.7,12.4,2,구로구,0.0,0.0,0
96,목감천2,2023-02-23,2회차,9.7,11.6,2.7,6.8,0.126,3.8,7.8,10.8,0,구로구,0.0,0.0,0
97,안양천8,2023-02-23,2회차,12.5,12.6,3.5,10.6,0.031,5.7,7.8,9.2,2,구로구,0.0,0.0,0
100,안양천9,2023-02-23,3회차,8.5,10.3,4.2,9.5,0.129,7.0,7.8,7.8,2,구로구,0.0,0.0,0
109,목감천1,2023-03-02,1회차,9.4,11.5,2.3,6.7,0.168,4.1,7.6,3.5,0,구로구,0.0,0.0,0
131,목감천2,2023-03-09,1회차,12.0,6.7,6.0,12.4,0.390,6.4,7.6,12.4,4,구로구,6.5,1.0,0
132,안양천8,2023-03-09,1회차,14.8,12.0,3.3,10.1,0.055,5.4,7.7,7.2,2,구로구,6.5,1.0,0
133,안양천9,2023-03-09,1회차,13.2,8.5,6.7,9.4,0.140,6.6,7.7,7.0,3,구로구,6.5,1.0,0
146,목감천2,2023-03-16,2회차,11.6,10.1,2.7,7.5,0.116,3.9,7.7,11.2,1,구로구,0.0,0.0,0
147,안양천8,2023-03-16,2회차,14.0,12.4,5.5,11.1,0.073,6.6,7.9,5.6,3,구로구,0.0,0.0,0
148,안양천9,2023-03-16,2회차,10.2,10.1,3.0,10.0,0.110,7.1,7.8,5.9,2,구로구,0.0,0.0,0
158,안양천9,2023-03-23,3회차,16.5,8.2,3.8,10.8,0.147,8.2,7.6,6.5,2,구로구,0.0,0.0,0
160,목감천2,2023-03-24,3회차,16.1,8.8,3.1,8.9,0.182,4.7,7.7,16.8,1,구로구,0.0,0.0,0
161,안양천8,2023-03-24,3회차,17.6,11.9,5.6,12.7,0.109,7.2,7.8,11.2,3,구로구,0.0,0.0,0
165,안양천9,2023-03-30,4회차,14.9,9.2,3.6,10.9,0.124,7.8,7.7,6.4,2,구로구,0.0,0.0,0
174,목감천2,2023-04-06,1회차,12.5,8.8,4.8,9.7,0.194,5.1,7.8,18.0,2,구로구,2.5,0.0,0
175,안양천8,2023-04-06,1회차,14.4,8.4,4.0,9.1,0.056,4.2,7.3,40.4,2,구로구,2.5,0.0,0
176,안양천9,2023-04-06,1회차,13.7,7.8,9.6,9.4,0.200,7.6,7.8,25.0,3,구로구,2.5,0.0,0
185,목감천1,2023-04-13,1회차,7.6,9.2,3.4,5.6,0.161,4.5,7.6,13.0,0,구로구,0.0,0.0,0
207,목감천2,2023-04-14,2회차,19.1,8.2,3.5,8.4,0.173,4.2,7.7,24.8,1,구로구,0.0,0.0,0
208,안양천8,2023-04-14,2회차,21.1,9.7,2.6,10.3,0.060,5.3,7.7,25.6,3,구로구,0.0,0.0,0
209,안양천9,2023-04-14,2회차,16.6,7.8,3.7,10.7,0.140,8.0,7.7,10.0,2,구로구,0.0,0.0,0
218,안양천9,2023-04-20,3회차,18.8,7.1,4.4,9.3,0.147,6.6,7.7,10.7,2,구로구,0.0,0.0,0
220,목감천2,2023-04-21,3회차,20.1,8.1,4.6,8.3,0.235,4.8,7.8,24.0,2,구로구,0.0,0.0,0
221,안양천8,2023-04-21,3회차,22.2,9.9,2.9,9.7,0.069,5.8,7.9,21.2,2,구로구,0.0,0.0,0
229,안양천9,2023-04-27,4회차,16.4,8.6,3.9,9.0,0.165,8.1,7.7,16.5,2,구로구,0.0,0.0,0

In [150]:
df_guro['PM10']=[57,75,66,66,46,29,47,47,42,42,42,63,60,60,60,74,74,74,140,157,157,101,75,75,75,217,94,94,94,22,67,67,40]

In [153]:
df_guro_fin = df_guro[df_guro['측정소명'] =='안양천9']

In [156]:
df_guroFin = df_guro_fin[['날짜','수온(℃)','cum_rainfall','PM10','수소이온농도','pollution_score']]

In [158]:
df_guroFin.to_csv("test_anyang9.csv",index= False)